<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Virtual Eye - Home</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
</head>

<body>
    <header>
        <nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6 basis-4/5">
                <span class="font-semibold text-xl tracking-tight">Virtual Eye</span>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow font-semibold">
                    <a href="index.html" class="block mt-4 lg:inline-block lg:mt-0 text-gray-200 hover:disabled mr-4">
                        Home
                    </a>
                    <a href="register.html"
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Register
                    </a>
                    <a href="login.html" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Login
                    </a>
                    <a href="demo.html" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Demo
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <img class="w-full h-96" src="static_images/background.jpg">
    <p class="font-bold text-3xl px-8 pt-8 underline" style="text-align: center">ABOUT PROJECT</p>
    <div class="grid grid-cols-2">
        <div class="flex-col bg-white shadow-md rounded px-8 pt-10 pb-8 m-8 mr-4">
            <p class="m-auto text-xl font-semibold mb-4">Problem</p>
            <p>
                Swimming is one of the best exercises that helps people to reduce stress in this urban lifestyle.
                Swimming pools are found larger in number in hotels, and weekend tourist spots and barely people have
                them in their house backyard. Beginners, especially, often feel it difficult to breathe underwater which
                causes breathing trouble which in turn causes a drowning accident. Worldwide, drowning produces a higher
                rate of mortality without causing injury to children. Children under six of their age are found to be
                suffering the highest drowning mortality rates worldwide. Such kinds of deaths account for the third
                cause of unplanned death globally, with about 1.2 million cases yearly. To overcome this conflict, a
                meticulous system is to be implemented along the swimming pools to save human life.
            </p>

        </div>
        <div class="flex-col bg-white shadow-md rounded px-8 pt-10 pb-8 m-8 ml-4">
            <p class="m-auto text-xl font-semibold mb-4">Solution</p>
            <p>
                By studying body movement patterns and connecting cameras to artificial intelligence (AI) systems we can
                devise an underwater pool safety system that reduces the risk of drowning. Usually, such systems can be
                developed by installing more than 16 cameras underwater and ceiling and analyzing the video feeds to
                detect any anomalies. but AS a POC we make use of one camera that streams the video underwater and
                analyses the position of swimmers to assess the probability of drowning, if it is higher then an alert
                will be generated to attract lifeguards' attention.
            </p>
        </div>
    </div>
</body>

</html>