<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Tailwind CSS -->
	<script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp"></script>
	<title>{{ title }}</title>
</head>

<body>
	<header>
        <nav class="flex items-center justify-between flex-wrap bg-gray-700 p-6">
            <div class="flex items-center flex-shrink-0 text-white mr-6 basis-4/5">
                <span class="font-semibold text-xl tracking-tight">Virtual Eye</span>
            </div>
            <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
                <div class="text-sm lg:flex-grow font-semibold">
					{% block navbar %}
					<a href="{{url_for('home')}}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Home
                    </a>
                    <a href="{{url_for('register')}}"
                        class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Register
                    </a>
                    <a href="{{url_for('login')}}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Login
                    </a>
                    <a href="{{url_for('demo')}}" class="block mt-4 lg:inline-block lg:mt-0 text-gray-400 hover:text-white mr-4">
                        Demo
                    </a>
					{% endblock %}
                </div>
            </div>
        </nav>
    </header>
	{% block main %}
	{% endblock %}
</body>

</html>